@import "../components";

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  z-index: 100;

   @include media-breakpoint-up(md) {
      top: -47px;
      left: 50%;
      transform: translateX(-50%);
      width: 160px;
     margin-left: 7px;
   }
}

.col {
   @include make-col-ready;
   @include make-col(12);
   background-color: black;
   height: 50vh;

   @include media-breakpoint-up(md) {
     @include make-col(6);
     height: 100vh;
   }
}

.col:first-of-type {
  background-color: white;
}


.link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  text-decoration: none;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    transform: scale(1.1);
  }
}

.holder {
  flex: 100%;
}

.image {
  max-width: 50%;
}

.title {
  @include font-size(3.2);
  @include font-lobster-regular;
  color:#AF9645;
  display: block;
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    @include font-size(7.2);
  }
}
