@import "../components";

.item {
    @include make-col-ready;
    @include make-col(4);
    margin-bottom: 20px;
}

.link {
    display: block;
    text-align: center;
    text-decoration: none;
}

.image {
    margin-bottom: 10px;
    width: 100%;
}

.title {
    @include font-size(1.6);
}
