// =============================================================================
// Forms
// =============================================================================

// Form
// -----------------------------------------------------------------------------
//
// Purpose: Global form styles, the idea is to keep a consistent style across all forms.
// A separate class is used per form to define the column layout (see next block)
//
//
// 1. Hide the overall form legend
//
// -----------------------------------------------------------------------------

.form {
}

// 1
.form__legend {
  display: none;
}

@mixin form-label {
  @include para;
  display: block;
  line-height: 100%;
  color: white;
  margin-bottom: $unit-xsmall;
}

.form__label {
  @include form-label;
}

.form__subheading {
  @include form-label;
}

// Form Textbox
// -----------------------------------------------------------------------------
//
// Purpose: Styles for textbox elements
//
//
// 1. Element wrapped around each textbox field and label
// 2. Textbox validation error
//
// -----------------------------------------------------------------------------

// 1
.form__textbox-field {
    margin-bottom: $unit-small;
}

@mixin form-textbox {
  @include para;
  background-color: $color-form-input-bg;
  border: 1px solid $color-form-input-border;
  color: $color-form-input-text;
  line-height: 100%;
  outline: none;
  padding: $unit-small;
  width: 100%;
}

.form__textbox {
  @include form-textbox;
}


// 2
.form__textbox.error {
  border: 1px solid $color-form-validation-border-error;
}

// Form Textarea
// -----------------------------------------------------------------------------
//
// Purpose: Styles for textarea elements
//
//
// 1. Element wrapped around each textarea field and label
// 2. Textarea validation error
//
// -----------------------------------------------------------------------------

// 1
.form__textarea-field {
}

@mixin form-textarea {
  @include para;
  background-color: $color-form-input-bg;
  border: 1px solid $color-form-input-border;
  color: $color-form-input-text;
  outline: none;
  padding: $unit-small;
  width: 100%;
}

.form__textarea {
  @include form-textarea;
}

// 2
.form__textarea.error {
  border: 1px solid $color-form-validation-border-error;
}

// Form Checkbox
// -----------------------------------------------------------------------------
//
// Purpose: Styles for checkbox elements
//
//
// 1. Element wrapped around each checkbox field and label
// 2. Custom checkbox - hiding the default checkbox & using the before/after elements to create a nice looking checkbox
//
// -----------------------------------------------------------------------------

// 1
.form__checkbox-field {
  display: inline-block;
  margin-bottom: $unit-xsmall;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

// 2
.form__checkbox {
  @include visually-hide;

  & + label {
    cursor: pointer;
    float: left;
    line-height: 150%;
    padding-left: $unit-xlarge;
    position: relative;
    user-select: none;

    &::before {
      background-color: $color-form-input-bg;
      content: "";
      display: inline-block;
      height: $unit;
      left: 0;
      position: absolute;
      top: 0;
      vertical-align: middle;
      width: $unit;
    }

    &::after {
      @extend .icomoon;
      @extend .icon-tick:before;
      @include font-size(1.2);
      display: none;
      height: $unit-small;
      left: 4px;
      position: absolute;
      top: 4px;
      width: $unit-small;
    }
  }

  &:focus + label {
    &::before {
      box-shadow: 0 0 0 1px $color-form-input-text;
    }
  }

  &:checked + label {
    &::after {
      display: block;
    }
  }
}

.form__checkbox + .form__label {
  margin-bottom: 0;
}

// Form Radio
// -----------------------------------------------------------------------------
//
// Purpose: Styles for radio elements
//
//
// 1. Element wrapped around each radio field and label
// 2. Custom radio - hiding the default radio & using the before/after elements to create a nice looking radio
//
// -----------------------------------------------------------------------------

// 1
.form__radio-field {
  display: inline-block;
  margin-bottom: $unit-xsmall;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

// 2
.form__radio {
  @include visually-hide;

  & + label {
    cursor: pointer;
    float: left;
    line-height: 150%;
    padding-left: $unit-xlarge;
    position: relative;
    user-select: none;

    &::before {
      background-color: $color-form-input-bg;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: $unit;
      left: 0;
      position: absolute;
      top: 0;
      vertical-align: middle;
      width: $unit;
    }

    &::after {
      background-color: $color-form-input-text;
      border-radius: 50%;
      content: "";
      display: none;
      height: $unit-xsmall;
      position: absolute;
      left: $unit-xxsmall;
      top: $unit-xxsmall;
      width: $unit-xsmall;
    }
  }

  &:focus + label {
    &::before {
      box-shadow: 0 0 0 1px $color-form-input-text;
    }
  }

  &:checked + label {
    &::after {
      display: block;
    }
  }
}

.form__radio + .form__label {
  margin-bottom: 0;
}

// Form File Upload
// -----------------------------------------------------------------------------
//
// Purpose: Styles for file upload elements
//
//
// 1. Element wrapped around each file upload button, field and label
// 2. Hide the real file upload
// 3. The requirements for the file being uploaded e.g size and extensions
// 4. Fixed Width set and will show ellipsis if file name exceeds this length, developer will need to update this depending on the length of default text
//
// -----------------------------------------------------------------------------

// 1
.form__upload-field {
  display: inline-block;
  width: 100%;
}

.form__upload-label {
}

// 4
.form__upload-btn {
  margin-bottom: $unit-xxsmall;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 155px;
}

// 2
.form__upload {
  display: none;
}

// 3
.form__upload-requirements {
  @include para;
  display: block;
}

// Form Validation
// -----------------------------------------------------------------------------
//
// Purpose: Styles for form validation
//
//
// 1. Error styling for validation message
// 2. Success styling for validation message
//
// -----------------------------------------------------------------------------

.form__validation {
  //margin-bottom: $unit;

  :first-child {
    margin-top: 0;
  }

  p,
  ul,
  ol {
    margin-top: $unit-xsmall;
  }

  ul,
  ol {
    @include para;

    li {
      margin-left: 20px;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}

// 1
.form__validation--error {
  background-color: $color-form-validation-bg-error;
  border: 1px solid $color-form-validation-border-error;
  color: $color-form-validation-text-error;
  padding: $unit;
}

// 2
.form__validation--success {
  background-color: $color-form-validation-bg-success;
  border: 1px solid $color-form-validation-border-success;
  color: $color-form-validation-text-success;
  padding: $unit;
}


.react-datepicker-wrapper {
  display: block !important
}

