// =============================================================================
// Selectboxes (dropdowns)
// =============================================================================

// Selectbox
// -----------------------------------------------------------------------------
//
// Purpose: We want the default HTML select boxes to look good so we are using some CSS trickery to hide the original select
//
//
// 1. Down arrow icon
//
// -----------------------------------------------------------------------------

.selectbox {
    display: inline-block;
    position: relative;
    width: 100%;
}

.selectbox__select {
    @include para;
    appearance: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    color: $color-select-text;
    cursor: pointer;
    line-height: 100%;
    outline: none;
    padding: $unit-small;
    position: relative;
    width: 100%;

    &::-ms-expand {
        display: none;
    }

    option {
        background-color: $color-select-option-bg;
        color: $color-select-text;
    }
}

.selectbox__select.error {
    border: 1px solid $color-form-validation-border-error;
}

// 1
.selectbox::after {
    @extend .icomoon, .icon-arrow-down:before;
    @include para;
    @include vertical-center(absolute);
    color: $color-select-text;
    display: inline-block;
    pointer-events: none;
    right: $unit;
}

.selectbox:hover {
    .selectbox__select {
        background-color: $color-select-hover-bg;
        color: $color-select-hover-text;
    }

    &::after {
        color: $color-select-hover-text;
    }
}

// Selectbox Modifiers
// -----------------------------------------------------------------------------
//
// Purpose: Enhances or removes styles from default selectboxes
//
//
// 1. Small selectbox
//
// -----------------------------------------------------------------------------

// 1
.selectbox--small {
    .selectbox__select {
        padding: $unit-small $unit-xlarge $unit-small $unit;
    }

    &::after {
        right: $unit-small;
    }
}
